<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <mat-card>
                <button mat-raised-button color="primary" routerLink="/">
                    <mat-icon aria-hidden="false">keyboard_backspace</mat-icon>
                </button>
                <br>
                <br>
                <h2>Id: <span style="font-size: 16px">{{userData.id}}</span> </h2>
                <h2>Name: <span style="font-size: 16px">{{userData.userName}}</span> </h2>
                <h2>Age: <span style="font-size: 16px">{{userData.age}}</span> </h2>
                <h2>Email id: <span style="font-size: 16px">{{userData.email}}</span> </h2>
                <h2>Phone: <span style="font-size: 16px">{{userData.phone}}</span> </h2>
                <h2>D.O.B: <span style="font-size: 16px"> {{userData.dob}}</span> </h2>
                <h2>Gender: <span style="font-size: 16px">{{userData.gender}}</span> </h2>
                <br>
            </mat-card>
        </div>
    </div>
</div>