/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (max-width: 600px) {
    #edit-user-btn{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0px !important;
    }
  }
